@import url("pressStart2PFont.css");
@import url("nes.css");

* {
  font-family: "Press Start 2P", cursive;
}

html,
body {
  background-image: url("../media/9259344.jpg");
  background-size: cover;
}

.scores {
  position: absolute;
  bottom: 10px;
  width: 100%;
  right: 0px;
  gap: 20px;
}

.categories {
  position: absolute;
  top: 20px;
  width: 95%;
  left: 0;
  right: 0;
  margin: auto;
  gap: 20px;
}

i.pfp {
  left: 25%;
}

.categories-content {
  height: 18vh;
}

.answers {
  position: absolute;
  top: 30vh;
  width: 50%;
  left: 2.5%;
  right: 2.5%;
  height: 40vh;
  gap: 15px;
}

.logo {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40%;
  margin: auto;
  height: 10vh;
  right: 2.5%;
}

.loading {
  z-index: 10000;
  position: absolute;
  top: 72vh;
}

.first {
  background-color: gold;
}

.second {
  background-color: silver;
}

.third {
  background-color: #cd7f32;
}

.fourth {
  background-color: #c0c0c0;
}
